In [1]:
import pandas as pd
import numpy as np

In [2]:
# Importación del driver de Cassandra
from cassandra.cluster import Cluster
# Configuración de la conexión
cluster = Cluster([''])
session = cluster.connect('tecnologia_energia')

In [3]:
path = r''
excel = pd.read_excel(path, 'Direct values')
excel.head(2)

,TAG,UNITS,KKS,KKS ENDING,KKS COMPLETE,PI&D,SHEET,HIERACHY,LOCATION
0,NET ENERGY,MWh,10BAY40_XQ90,NaN,OSS_OS1::AS10Program/DATA_SAE_10S._10BAY40_XQ9...,NaN,NaN,OUTPUT,NaN
1,NET ENERGY INS,MWh,NaN,NaN,OSS_OS1::AS10Program/DATA_SAE_1MIN._10BAY40_XQ...,NaN,NaN,OUTPUT,NaN

In [4]:
excel.shape

(1293, 9)

In [5]:
excel.isna().sum()

TAG               29
UNITS              0
KKS                8
KKS ENDING      1293
KKS COMPLETE      29
PI&D            1293
SHEET           1293
HIERACHY           5
LOCATION        1293
dtype: int64

In [6]:
excel.drop(['KKS ENDING', 'PI&D', 'SHEET', 'LOCATION'], inplace=True, axis=1)

In [7]:
excel[excel.isnull().any(axis=1)]

,TAG,UNITS,KKS,KKS COMPLETE,HIERACHY
1,NET ENERGY INS,MWh,NaN,OSS_OS1::AS10Program/DATA_SAE_1MIN._10BAY40_XQ...,OUTPUT
6,OFFLINE ENERGY INS,MWh,NaN,OSS_OS1::AS10Program/DATA_SAE_1MIN._10BAY40_XQ...,OUTPUT
7,OFFLINE POWER IMPORT,MWh,NaN,OSS_OS1::AS10Program/DATA_SAE_1MIN._10BAY40_XQ...,OUTPUT
73,NaN,barg,15HAD12CP002B,NaN,STEAM GENERATION SYSTEM/EVAPORATOR
154,SH1 VALVE APERTURE OPEN,%,NaN,OSS_OS1::15LBA60AA075/V.FbkOpenOut#Value,NaN
155,SH2 VALVE APERTURE CLOSE,%,15LBA70AA075,OSS_OS1::15LBA70AA075/V.FbkCloseOut#Value,NaN
156,SH2 VALVE APERTURE OPEN,%,NaN,OSS_OS1::15LBA70AA075/V.FbkOpenOut#Value,STEAM GENERATION SYSTEM/SUPERHEATER
160,CONTINUOUS BLOWDOWN VALVE OPEN - STEAM DRUM 1,%,NaN,OSS_OS1::15LAB60AA078/V.FbkOpenOut#Value,NaN
162,INTERMITTENT BLOWDOWN VALVE OPEN - STEAM DRUM 1,%,NaN,OSS_OS1::15LAB60AA077/V.FbkOpenOut#Value,NaN
164,CONTINUOUS BLOWDOWN VALVE OPEN - STEAM DRUM 2,%,NaN,OSS_OS1::15LAB70AA077/V.FbkOpenOut#Value,NaN
169,NaN,mm,13WSC10CL001B,NaN,TES
171,NaN,mm,13WSH10CL001B,NaN,TES
180,NaN,ºC,13WSX16CT006B,NaN,TES
181,NaN,ºC,13WSX16CT006C,NaN,TES
190,NaN,ºC,12WTB10CT001B,NaN,STEAM GENERATION SYSTEM/SUPERHEATER
192,NaN,ºC,12WTB10CT002B,NaN,STEAM GENERATION SYSTEM/EVAPORATOR
197,NaN,ºC,12WTB11CT001B,NaN,STEAM GENERATION SYSTEM/REHEATER
199,NaN,ºC,12WTB11CT002B,NaN,STEAM GENERATION SYSTEM/REHEATER
202,NaN,ºC,12WTB10CT006B,NaN,STEAM GENERATION SYSTEM
204,NaN,ºC,12WTB20CT001B,NaN,STEAM GENERATION SYSTEM/SUPERHEATER
206,NaN,ºC,12WTB20CT002B,NaN,STEAM GENERATION SYSTEM/EVAPORATOR
211,NaN,ºC,12WTB21CT001B,NaN,STEAM GENERATION SYSTEM/REHEATER
213,NaN,ºC,12WTB21CT002B,NaN,STEAM GENERATION SYSTEM/REHEATER
216,NaN,ºC,12WTB20CT006B,NaN,STEAM GENERATION SYSTEM
218,NaN,ºC,12WTD16CT002B,NaN,TES
225,NaN,ºC,12WTD11CT001B,NaN,TES
243,NaN,ºC,12WLA31CT001B,NaN,SOLAR FIELD/NORTH WEST/HEADER
244,NaN,ºC,12WLA31CT001C,NaN,SOLAR FIELD/NORTH WEST/HEADER
247,NaN,ºC,12WLA51CT001B,NaN,SOLAR FIELD/SOUTH WEST/HEADER
248,NaN,ºC,12WLA51CT001C,NaN,SOLAR FIELD/SOUTH WEST/HEADER
251,NaN,ºC,12WRA32CT001B,NaN,SOLAR FIELD/NORTH EAST/HEADER
252,NaN,ºC,12WRA32CT001C,NaN,SOLAR FIELD/NORTH EAST/HEADER
255,NaN,ºC,12WRA52CT001B,NaN,SOLAR FIELD/SOUTH EAST/HEADER
256,NaN,ºC,12WRA52CT001C,NaN,SOLAR FIELD/SOUTH EAST/HEADER
261,NaN,ºC,13WSX10CT001B,NaN,TES
262,NaN,ºC,13WSX10CT001C,NaN,TES
264,NaN,ºC,12WTB05CT004B,NaN,STEAM GENERATION SYSTEM
265,NaN,ºC,12WTB05CT004C,NaN,STEAM GENERATION SYSTEM

In [8]:
kks = excel['KKS COMPLETE'][250].split('::')[1]
kks

'12WRA32CT001/X.PV_Out#Value'

In [9]:
excel.columns

Index(['TAG', 'UNITS', 'KKS', 'KKS COMPLETE', 'HIERACHY'], dtype='object')

In [14]:
excel.head()

,TAG,UNITS,KKS,KKS COMPLETE,HIERACHY
0,NET ENERGY,MWh,10BAY40_XQ90,OSS_OS1::AS10Program/DATA_SAE_10S._10BAY40_XQ9...,OUTPUT
1,NET ENERGY INS,MWh,NaN,OSS_OS1::AS10Program/DATA_SAE_1MIN._10BAY40_XQ...,OUTPUT
2,NET POWER,MWh,10BAY40_XQ50,OSS_OS1::AS10Program/DATA_SAE_10S._10BAY40_XQ5...,OUTPUT
3,GROSS ENERGY,MWh,GROSS_ENERGY_TOT,OSS_OS1::GROSS$ENERGY/MWh-GROSS.PV_Out#Value,OUTPUT
4,GROSS POWER,MWh,10BAY10_XQ14,OSS_OS1::AS10Program/DATA_SAE_10S._10BAY10_XQ14,OUTPUT

In [10]:
kks = []
i=0
for row in excel.itertuples():
    if not isinstance(row._4,str):
        lectura = row.KKS
    else:
        lectura = row._4.split('::')[1].replace('/','_')
    kks.append(lectura)
    if isinstance(row.HIERACHY,str):
        i += 1

print(i)

1288

In [11]:
kks_cassandra = []
rows = session.execute('SELECT * FROM kks')
for r in rows:
    kks_cassandra.append(r.kks)

In [12]:
print('KKS en Cassandra: ', len(kks_cassandra))
print('KKS en el excel: ', len(kks))
print('KKS en ambos: ', len(set(kks) & set(kks_cassandra)))

KKS en Cassandra:  9661
KKS en el excel:  1293
KKS en ambos:  1057

In [12]:
query = session.prepare("SELECT * from kks where kks=? and plant='shagaya'")
rows = session.execute(query, [kks,])
for r in rows:
    print(r)

Row(plant='shagaya', kks='15LBC10CT001_X.PV_Out#Value', uuid=UUID('ba47f9e9-47df-4068-89e1-28cb8a9d7821'))

In [ ]:
len(kks_cassandra)

In [14]:
cluster.shutdown()